
.category__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  place-items: center;
  max-width: 1600px;
  margin-top: -150px; 
  position: relative;
  gap: 20px;
  z-index: 10;
  margin-right: auto;
  margin-left: auto;
}

.category {
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: relative;
 
}

.category img {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 0px 10px;
  z-index: 10;
}

.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.category h2,
.category p {
  padding: 5px;
  margin-left: 15px;
}

.category p {
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}
